/*Tentative color scheme
major: #EBE9E9
font: #776D5A
other: #2A2E45
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: black;
    color:#EBE9E9
}

#welcomeHeader{
    display:flex;
    font-size: 56px;
    justify-content: space-between;
    font-family: 'ArcadeClassic', sans-serif;
    color: #EBE9E9;
    margin-left: 20%;
} 

#quotation{
    display: flex;
    font-size: 30px;
    font-family: 'ArcadeClassic', sans-serif;
    color: #EBE9E9;
    margin-left: 22%;
    padding: 30px;
    margin-bottom: 5%;
}

#introductionParagraph{
    color:#EBE9E9;
    text-align: left;
    margin-left: 10%;
    padding:20px;
    margin-bottom: 20%;
}

a{
    text-decoration: none;
    color: #EBE9E9
}

li{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: aliceblue;
    font-family: 'ArcadeClassic', sans-serif
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover{
    background-color:bisque;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li{
    display: inline;
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
}

.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}
/*responsive design of navbar*/
@media (max-width: 768px){
    .menu{
        display: none;
        position: absolute;
        
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover{
        display: inline-block;
        
        transition: 0.3s ease;
    }

    .menu li{
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~.menu{
        display:block;
    }

    .hamburger{
        display: block;
    }
}

#progress-label{
    color:#EBE9E9
}
p{
    color:#EBE9E9
}
.selfie{
    float: right;
    margin-right: 20%;
    
}
footer{ 
    text-align: center;
    bottom: 0%;
}

table{
    border-color: #EBE9E9;
}
